[submodule "submodules/LIB"]
	path = submodules/LIB
	url = git@github.com:IObundle/iob-lib.git
[submodule "submodules/TESTER"]
	path = submodules/TESTER
	url = git@github.com:arturum1/iob-soc.git
	branch = tester
